<style>
    .⬆️ {
      color: blue;
      text-align: center;
      font-weight: bold;
    }
    .↗️ {
      color: green;
      text-align: center;
      font-weight: bold;
    }
    .↘️ {
      color: red;
      text-align: center;
      font-weight: bold;
    }
    .⬇️ {
      color: purple;
      text-align: center;
      font-weight: bold;
    }
</style>
<table id="eurusd_trend" class="display">
    <thead>
    <tr>
        <th>When?</th>
        <th>recomendations</th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=10Y">10 yrs</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=2Y">2 yrs</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=1Y">year</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=1M">month</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=1W">week</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=1D">day</a></th>
        <th>+detail</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>2024/01/22/mon</td>
        <td>?</td>
        <td class="↘️">-20.39%↘️</td><!-- 10 yrs -->
        <td class="↘️">-4.03%↗️</td><!-- 2yrs ⏸️↗️↘️-->
        <td class="↗️">+0.16%↘️</td><!-- year -->
        <td class="↘️">-1.13%↘️</td><!-- month -->
        <td class="↘️">-0.54%↘️</td><!-- week -->
        <td class="↘️">-0.09%↘️</td><!-- day -->
        <td>EUR is already going down, time to 🔥buy, but less and less as we are down for too long. wk_range(⏸️1.085 ~ 1.098) 10yr range(⏸️0.959604 ~ 1.39303)</td><!-- comment -->
      </tr>
      <tr>
        <td>2024/01/19/fri</td>
        <td>🔥buy US</td>
        <td class="↘️">-19.74%</td><!-- 10 yrs -->
        <td class="↘️">-4.06%</td><!-- 2yrs -->
        <td class="↗️">+0.80%</td><!-- year -->
        <td class="↘️">-0.48%</td><!-- month -->
        <td class="↘️">-0.50%</td><!-- week -->
        <td class="↘️">-0.05%</td><!-- day -->
        <td>EUR is already going down, time to 🔥buy. wk_range(1.085 ~ 1.098) 10yr range(0.959604 ~ 1.39303)</td><!-- comment -->
      </tr>
      <tr>
        <td>2024/01/15/mon</td>
        <td>⛔Looks stable</td>
        <td class="↘️">-19.21%</td><!-- 10 yrs -->
        <td class="↘️">-4.17%</td><!-- 2yrs -->
        <td class="↗️">+0.89%</td><!-- year -->
        <td class="↗️">+0.23%</td><!-- month -->
        <td class="↘️">-0.28%</td><!-- week -->
        <td class="↘️">-0.04%</td><!-- day -->
        <td>range(1.093 ~ 1.096) Looks stable, same situation 1 yr ago. 10yr range(0.959604 ~ 1.39303)</td><!-- comment -->
      </tr>
      <tr>
        <td>2024/01/03/wed</td>
        <td>⚠️Sell</td>
        <td class="↘️">-19.67%</td><!-- 10 yrs -->
        <td class="↘️">-3.34%</td><!-- 2yrs -->
        <td class="↗️">+2.32%</td><!-- year -->
        <td class="↗️">+0.52%</td><!-- month -->
        <td class="↘️">-1.12%</td><!-- week -->
        <td class="↘️">-0.5%</td><!-- day -->
        <td>EUR has reached resistance, going down step by step (returned to Dec/14)</td><!-- comment -->
      </tr>
      <tr>
        <td>2023/12/28/thu</td>
        <td>🔥buy US</td>
        <td class="↘️">-20%</td><!-- 10 yrs -->
        <td class="↘️">-3%</td><!-- 2yrs -->
        <td class="↘️">-2%</td><!-- year -->
        <td class="⬆️">max</td><!-- month -->
        <td class="⬆️">max</td><!-- week -->
        <td class="⬆️">max</td><!-- day -->
        <td>EUR trend is strong & getting stronger, but reached a local maxima</td><!-- comment -->
      </tr>
    </tbody>
</table>