<style>
    .⬆️ {
      color: blue;
      text-align: center;
      font-weight: bold;
    }
    .↗️ {
      color: green;
      text-align: center;
      font-weight: bold;
    }
    .↘️ {
      color: red;
      text-align: center;
      font-weight: bold;
    }
    .⬇️ {
      color: purple;
      text-align: center;
      font-weight: bold;
    }
</style>
<table id="eurusd_trend" class="display">
    <thead>
    <tr>
        <th>When?</th>
        <th>recomendations</th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=1D">day</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=1W">week</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=1M">month</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=1Y">year</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=2Y">2 yrs</a></th>
        <th><a target="_blank" href="https://www.xe.com/currencycharts/?from=EUR&to=USD&view=10Y">10 yrs</a></th>
        <th>+detail</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2024/01/03/wed</td>
        <td>Sell</td>
        <td class="↘️">-0.5%</td><!-- day -->
        <td class="↘️">-1.12%</td><!-- week -->
        <td class="↗️">+0.52%</td><!-- month -->
        <td class="↗️">+2.32%</td><!-- year -->
        <td class="↘️">-3.34%</td><!-- 2yrs -->
        <td class="↘️">-19.67%</td><!-- 10 yrs -->
        <td>EUR has reached resistance, going down step by step (returned to Dec/14)</td><!-- comment -->
    </tr>
    <tr>
        <td>2023/12/28/thu</td>
        <td>Buy</td>
        <td class="⬆️">max</td><!-- day -->
        <td class="⬆️">max</td><!-- week -->
        <td class="⬆️">max</td><!-- month -->
        <td class="↘️">-2%</td><!-- year -->
        <td class="↘️">-3%</td><!-- 2yrs -->
        <td class="↘️">-20%</td><!-- 10 yrs -->
        <td>EUR trend is strong & getting stronger, but reached a local maxima</td><!-- comment -->
    </tr>
    </tbody>
</table>