<!DOCTYPE html><html lang="en"><t1>&lt;style type="text/css"&gt;
&lt;/style&gt;
&lt;table id="T_39e1d"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th class="blank level0" &gt;&amp;nbsp;&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col0" class="col_heading level0 col0" &gt;pc&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col1" class="col_heading level0 col1" &gt;nd_f&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col2" class="col_heading level0 col2" &gt;nd_v&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col3" class="col_heading level0 col3" &gt;nd_a&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col4" class="col_heading level0 col4" &gt;nd_pts&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col5" class="col_heading level0 col5" &gt;o&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col6" class="col_heading level0 col6" &gt;o_pts&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col7" class="col_heading level0 col7" &gt;dd_f&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col8" class="col_heading level0 col8" &gt;dd_v&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col9" class="col_heading level0 col9" &gt;dd_a&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col10" class="col_heading level0 col10" &gt;dd_pts&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col11" class="col_heading level0 col11" &gt;v+&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col12" class="col_heading level0 col12" &gt;c&lt;/th&gt;
      &lt;th id="T_39e1d_level0_col13" class="col_heading level0 col13" &gt;c_pts&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
<t2>&lt;style type="text/css"&gt;
&lt;/style&gt;
&lt;table id="T_84e28"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th class="blank level0" &gt;&amp;nbsp;&lt;/th&gt;
      &lt;th id="T_84e28_level0_col0" class="col_heading level0 col0" &gt;o_pts&lt;/th&gt;
      &lt;th id="T_84e28_level0_col1" class="col_heading level0 col1" &gt;o_a&lt;/th&gt;
      &lt;th id="T_84e28_level0_col2" class="col_heading level0 col2" &gt;o_v&lt;/th&gt;
      &lt;th id="T_84e28_level0_col3" class="col_heading level0 col3" &gt;o_f&lt;/th&gt;
      &lt;th id="T_84e28_level0_col4" class="col_heading level0 col4" &gt;pc&lt;/th&gt;
      &lt;th id="T_84e28_level0_col5" class="col_heading level0 col5" &gt;nd_f&lt;/th&gt;
      &lt;th id="T_84e28_level0_col6" class="col_heading level0 col6" &gt;o&lt;/th&gt;
      &lt;th id="T_84e28_level0_col7" class="col_heading level0 col7" &gt;dd_f&lt;/th&gt;
      &lt;th id="T_84e28_level0_col8" class="col_heading level0 col8" &gt;c&lt;/th&gt;
      &lt;th id="T_84e28_level0_col9" class="col_heading level0 col9" &gt;c_f&lt;/th&gt;
      &lt;th id="T_84e28_level0_col10" class="col_heading level0 col10" &gt;c_v&lt;/th&gt;
      &lt;th id="T_84e28_level0_col11" class="col_heading level0 col11" &gt;c_a&lt;/th&gt;
      &lt;th id="T_84e28_level0_col12" class="col_heading level0 col12" &gt;c_pts&lt;/th&gt;
      &lt;th id="T_84e28_level0_col13" class="col_heading level0 col13" &gt;v+&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</html>